<template>
  <a-modal
    title="Create new user"
    :visible="openModal"
    :confirm-loading="creatingUserStatus"
    @ok="handleOk"
    @cancel="handleCancel"
  >
    <a-form
      class="user-form"
      :form="form"
    >
      <a-form-item>
        <a-input
          v-decorator="[
            'first_name',
            { rules: [{ required: true, message: 'Please input first name!' }] },
          ]"
          placeholder="First name"
        >
          <a-icon slot="prefix" type="user" style="color: rgba(0,0,0,.25)" />
        </a-input>
      </a-form-item>
      <a-form-item>
        <a-input
          v-decorator="[
            'last_name',
            { rules: [{ required: true, message: 'Please input last name!' }] },
          ]"
          placeholder="Last name"
        >
          <a-icon slot="prefix" type="user" style="color: rgba(0,0,0,.25)" />
        </a-input>
      </a-form-item>
      <a-form-item>
        <a-input
          v-decorator="[
            'full_name',
            { rules: [{ required: true, message: 'Please input full name!' }] },
          ]"
          placeholder="Full name"
        >
          <a-icon slot="prefix" type="user" style="color: rgba(0,0,0,.25)" />
        </a-input>
      </a-form-item>
      <a-form-item>
        <a-input
          v-decorator="[
            'email',
            { rules: [{ required: true, message: 'Please input email!' }] },
          ]"
          placeholder="Email"
        >
          <a-icon slot="prefix" type="user" style="color: rgba(0,0,0,.25)" />
        </a-input>
      </a-form-item>
      <a-form-item>
        <a-input
          v-decorator="[
            'password',
            { rules: [{ required: true, message: 'Please input password!' }] },
          ]"
          placeholder="Password"
        >
          <a-icon slot="prefix" type="user" style="color: rgba(0,0,0,.25)" />
        </a-input>
      </a-form-item>
    </a-form>
  </a-modal>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'CreateUserModal',
  computed: {
    ...mapGetters({
      openModal: 'users/openModal',
      creatingUserStatus: 'users/creatingUserStatus'
    })
  },
  beforeCreate () {
    this.form = this.$form.createForm(this, { name: 'userForm' })
  },
  methods: {
    ...mapActions({
      changeOpenState: 'users/changeOpenState',
      showLoader: 'spin/showLoader',
      hideLoader: 'spin/hideLoader',
      createUser: 'users/createUser',
      startLoading: 'users/startLoading',
      stopLoading: 'users/stopLoading'
    }),
    handleCancel () {
      this.changeOpenState()
    },
    handleOk (e) {
      e.preventDefault()
      this.form.validateFields(async (err, values) => {
        if (!err) {
          try {
            this.startLoading()

            await this.createUser(values)
            this.form.resetFields()

            this.$notification.success({
              message: 'Success',
              description: 'User was created successfully!'
            })
            this.changeOpenState()
          } catch (e) {
            this.$notification.error({
              message: 'Authentication failed',
              description: e?.response?.data?.message
            })
          } finally {
            this.stopLoading()
          }
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
