<template>
  <a-layout-header class="header">
    Header
  </a-layout-header>
</template>

<script>
export default {
  name: 'Header'
}
</script>

<style lang="scss">
.header {
  background: #fff;
  padding: 0;
  border-bottom: 1px solid #e8e8e8;
  text-align: center;
}
</style>
