<template>
  <a-layout-sider v-model="collapsed" collapsible style="z-index: 9999">
    <div class="logo" />
    <a-menu theme="dark" mode="inline">
      <a-menu-item key="1" @click="handleLogout">
        <a-icon type="logout" />
        <span>Logout</span>
      </a-menu-item>
    </a-menu>
  </a-layout-sider>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'Sider',
  data () {
    return {
      collapsed: false
    }
  },
  methods: {
    ...mapActions({
      logout: 'login/logout'
    }),
    handleLogout () {
      this.logout()
    }
  }

}
</script>

<style scoped>

</style>
