<template>
  <div v-if="loading" class="loader-wrapper">
    <a-spin size="large" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Spin',
  computed: {
    ...mapGetters({
      loading: 'spin/loading'
    })
  }
}
</script>

<style lang="scss">
@import '../styles/variables.scss';

.loader-wrapper {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $loader-background-color;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
