<template>
  <div>
    <a-layout v-if="$auth.loggedIn" id="components-layout-demo-side" style="min-height: 100vh">
      <Sider v-if="items.length" />
      <a-layout>
        <Header />
        <a-layout-content style="margin: 0 16px">
          <div :style="{ padding: '24px', background: '#fff', minHeight: '360px' }">
            <Nuxt />
          </div>
        </a-layout-content>
        <Footer />
      </a-layout>
    </a-layout>
    <div v-else class="app-content">
      <Nuxt />
    </div>
    <Spin />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import Spin from '~/components/Spin'
import Header from '~/components/Header'
import Footer from '~/components/Footer'
import Sider from '~/components/Sider'

export default {
  name: 'Default',
  components: {
    Spin, Header, Footer, Sider
  },
  computed: {
    ...mapGetters({
      items: 'users/items'
    })
  }
}
</script>

<style>
.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
</style>
