<template>
  <div class="login-page">
    <div class="container-outer">
      <div class="login-wrap">
        <Login />
      </div>
    </div>
  </div>
</template>

<script>
import Login from '~/components/Login'

export default {
  components: {
    Login
  }
}
</script>

<style lang="scss">
.login-page {
  height: 100vh;

  .login-wrap {
    display: flex;
    align-items: center;
    max-width: 360px;
    height: 100%;
    margin: 0 auto;
  }
}

</style>
