<template>
  <div>
    <a-button class="editable-add-btn" @click="handleAdd">
      Add
    </a-button>
    <a-table
      v-if="dataSource.length > 0"
      :columns="columns"
      :data-source="dataSource"
      :loading="tableLoading"
      bordered
      :pagination="pagination"
      @change="handleTableChange"
    >
      <template
        v-for="col in ['email']"
        :slot="col"
        slot-scope="text, record"
      >
        <div
          :key="col"
          class="emailColumn"
        >
          <a-tooltip>
            <template slot="title">
              {{ text }}
            </template>
            <a-input
              v-if="record.editable"
              class="emailColumn"
              :value="text"
              @change="e => handleChange(e.target.value, record.key, col)"
            />
            <template
              v-else
            >
              {{ text }}
            </template>
          </a-tooltip>
        </div>
      </template>
      <template slot="operation" slot-scope="text, record">
        <div class="editable-row-operations">
          <span v-if="record.editable">
            <a @click="() => save(record.key)">Save</a>
          </span>
          <span v-else>
            <a :disabled="editingKey !== ''" @click="() => edit(record.key)">Edit</a>
          </span>
          <span>
            <a-popconfirm
              v-if="dataSource.length"
              title="Sure to delete?"
              @confirm="() => onDelete(record.id)"
            >
              <a :disabled="editingKey !== ''" href="javascript:;">Delete</a>
            </a-popconfirm>
          </span>
        </div>
      </template>
    </a-table>
    <CreateUserModal />
  </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'
import CreateUserModal from '~/components/CreateUserModal'

const columns = [
  {
    title: 'ID',
    dataIndex: 'id',
    width: '15%',
    scopedSlots: { customRender: 'ID' }
  },
  {
    title: 'First name',
    dataIndex: 'first_name',
    width: '15%',
    scopedSlots: { customRender: 'First name' }
  },
  {
    title: 'Last name',
    dataIndex: 'last_name',
    width: '15%',
    scopedSlots: { customRender: 'Last name' }
  },
  {
    title: 'Full name',
    dataIndex: 'full_name',
    width: '25%',
    scopedSlots: { customRender: 'Full name' }
  },
  {
    title: 'Email',
    dataIndex: 'email',
    width: '15%',
    ellipsis: true,
    scopedSlots: { customRender: 'email' }
  },
  {
    title: 'Operation',
    dataIndex: 'operation',
    width: '15%',
    scopedSlots: { customRender: 'operation' }
  }
]

export default {
  name: 'Users',
  components: {
    CreateUserModal
  },
  data () {
    return {
      columns,
      editingKey: ''
    }
  },
  computed: {
    ...mapGetters({
      users: 'users/items',
      totalCount: 'users/totalCount',
      currentPage: 'users/currentPage',
      tableLoading: 'users/tableLoading'
    }),
    dataSource () {
      return this.$store.state.users.items.map((item, idx) => ({
        ...item,
        key: idx
      }))
    },
    pagination () {
      return {
        current: this.currentPage,
        total: this.totalCount
      }
    }
  },
  watch: {
    async currentPage () {
      try {
        this.startTableLoading()
        await this.fetchUsers()
      } catch (e) {
        this.$notification.error({
          message: 'Loading failed',
          description: e?.response?.data?.message
        })
      } finally {
        this.stopTableLoading()
      }
    }
  },
  async created () {
    try {
      this.showLoader()
      await this.fetchUsers()
    } catch (e) {
      this.$notification.error({
        message: 'Loading failed',
        description: e?.response?.data?.message
      })
    } finally {
      this.hideLoader()
    }
  },
  methods: {
    ...mapActions({
      showLoader: 'spin/showLoader',
      hideLoader: 'spin/hideLoader',
      fetchUsers: 'users/fetchUsers',
      changeUsersItems: 'users/changeUsersItems',
      patch: 'users/patch',
      deleteUser: 'users/deleteUser',
      changeCurrentPage: 'users/changeCurrentPage',
      changeOpenState: 'users/changeOpenState',
      startTableLoading: 'users/startTableLoading',
      stopTableLoading: 'users/stopTableLoading'
    }),
    handleAdd () {
      this.changeOpenState()
    },

    handleChange (value, key, column) {
      const newData = [...this.dataSource]
      const target = newData.filter(item => key === item.key)[0]
      if (target) {
        target[column] = value
        this.changeUsersItems(newData)
      }
    },
    handleTableChange (pagination) {
      const { current } = pagination
      this.changeCurrentPage(current)
    },
    edit (key) {
      const newData = [...this.dataSource]
      const target = newData.filter(item => key === item.key)[0]
      this.editingKey = key
      if (target) {
        target.editable = true
        this.changeUsersItems(newData)
      }
    },
    onDelete (id) {
      try {
        this.startTableLoading()
        this.deleteUser(id)
        this.$notification.success({
          message: 'Success',
          description: 'User was deleted successfully!'
        })
      } catch (e) {
        this.$notification.error({
          message: 'Deleting failed',
          description: e?.response?.data?.message
        })
      } finally {
        this.stopTableLoading()
      }
    },
    save (key) {
      try {
        this.startTableLoading()
        const changedUser = this.dataSource.filter(item => item.key === key)[0]
        this.patch(changedUser)
        this.$notification.success({
          message: 'Success',
          description: 'User was changed successfully!'
        })
        this.editingKey = ''
      } catch (e) {
        this.$notification.error({
          message: 'Changing failed',
          description: e?.response?.data?.message
        })
      } finally {
        this.stopTableLoading()
      }
    }
  }
}
</script>
<style scoped>
.editable-row-operations a {
  margin-right: 8px;
}
.editable-add-btn {
  margin-bottom: 20px;
  width: 150px;
}
.emailColumn {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: -5px 0;
}
</style>
