@import "./variables";

.container-outer {
  max-width: 1470px;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-inner {
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
  word-break: break-word;
}
